* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f9f5e5;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
}

.wrapper {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
  margin: 50px 0 20px 0;
}

a {
  text-decoration: none;
}

.nav-link:hover,
a:hover {
  color: white;
}

textarea {
  height: 200px;
}

.message-container {
  margin: 10px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(28, 213, 255);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: auto;
  margin-top: 50px;
  animation: spin 1.4s linear infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-book-open {
  font-size: 2em;
}

nav a,
footer a {
  position: relative;
}

nav a::before,
footer a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #d5a947;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-item a:hover::before,
footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.media-links i {
  color: #d5a947;
}
