.btn-cta {
  background: #d5a947;
  color: white;

  &:hover {
    background: darken($color: #d5a947, $amount: 10);
    color: white;
    border: 1.5px solid white;
    border-radius: 10px;
    transition: 0.6s;
  }
}

.btn-danger {
  margin-top: 10px;
}

.nav-btn {
  margin: 0;

  @media (min-width: 1200px) {
    margin: 5px;
  }
}

.logout-btn {
  margin-left: 5px;
}
