.posts {
  color: black;
  margin-bottom: 10px;
  .card-title {
    margin-bottom: 20px;
  }
}

.card__post {
  min-height: 140px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
