//Colours

$primary: linear-gradient(to right, #608adc, #4272a1, #0f4881);

// Fonts

$font-primary: "Ubuntu", Verdana, Geneva, Tahoma, sans-serif;
$font-secondary: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
